<mat-toolbar color="primary" style="position: fixed; z-index: 999;">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button [routerLink]="'/home'"><h1>Tobery Tracker</h1></a>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/add-visit'"> Add Visit </a>
      <a mat-button [routerLink]="'/all-visits'"> All Visits </a>
      <a mat-button [routerLink]="'/find-new'"> Find New Tobery </a>
      <a mat-button [routerLink]="'/find-en-route'"> Find En Route </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="app-container" fxLayout="column">
<div fxFlex="0 0 65px"></div>
<router-outlet></router-outlet>
</div>
