<form #viewForm="ngForm" (ngSubmit)="onSubmit()" class="example-form" fxFlexFill>
  <div>
    <h1>Add Visit</h1>
  </div>
  {{diagnostic}}
<p></p>
  <mat-form-field fxFlexFill>
    <mat-label>Restaurant</mat-label>
    <mat-select [(ngModel)]="model.restaurant" name="restaurant">
      <mat-option *ngFor="let restaurant of restaurants" value="{{restaurant.id}}">{{restaurant.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlexFill>
    <mat-label>Review</mat-label>
    <textarea matInput [(ngModel)]="model.review" placeholder="Vegetables not stirred enough." name="review"></textarea>
  </mat-form-field>
  <mat-form-field fxFlexFill >
    <mat-label>Rating</mat-label>
    <mat-select [(ngModel)]="model.rating" name="rating">
      <mat-option *ngFor="let rating of ratings" value="{{rating}}">{{rating}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button type="submit">Submit</button>
</form>
Submitted? {{submitted}}

