<form #viewForm="ngForm" (ngSubmit)="onSubmit()" class="example-form" fxFlexFill>
  <div>
    <h1>Add Visit</h1>
  </div>
  {{diagnostic}}
<p></p>
  <mat-form-field fxFlexFill>
    <mat-label>Location</mat-label>
    <mat-select [(ngModel)]="model.location" name="location">
      <mat-option value="Manchester">Manchester</mat-option>
      <mat-option value="London">London</mat-option>
      <mat-option value="Cornwall">Cornwall</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlexFill>
    <mat-label>Review</mat-label>
    <textarea matInput [(ngModel)]="model.review" placeholder="Vegetables not stirred enough." name="review"></textarea>
  </mat-form-field>
  <mat-form-field fxFlexFill >
    <mat-label>Rating</mat-label>
    <mat-select [(ngModel)]="model.rating" name="rating">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button type="submit">Submit</button>
</form>
Submitted? {{submitted}}

